# Dependency directories
node_modules/

# Vite build
dist

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

.DS_Store

# test coverage
__tests__/coverage