.btn {
  padding: 12px;
  border-radius: 25px;
  white-space: nowrap;
  min-width: 75px;
  display: flex;
  justify-content: center;

  &.primary {
    background-color: $blue;

    &:hover {
      background-color: $darkBlue;
    }

    span {
      @include label(14px, $white);
    }
  }

  &.secondary {
    background-color: $lightGray;

    &:hover {
      background-color: $darkGray;
    }

    span {
      @include label(14px);
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}
