.todos-container {
  width: 100vw;

  .list-container {
    height: calc(100vh - 125px);
    overflow-y: auto;
    overflow-x: hidden;
    @media screen and (max-width: 768px) {
      background: $bluishCyan;
    }
  }
}
