$blue: #0054a6;
$darkBlue: #004385;
$white: #ffffff;
$lightGray: #f1f5f9;
$darkGray: #dddddd;
$black: #19172a;
$lightBlue: #eaf5ff;
$skyBlue: #c5e2ff;
$vistaWhite: #f8fafc;
$red: #a60e00;
$green: #047857;
$darkGreen: #065f07;
$bluishCyan: #e1ecf3;
$cyanBlue: #a6b6c8;
