.card {
  width: calc(100vw - 20px);

  &:not(:first-child) {
    margin-top: 10px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
    background-color: $lightBlue;

    .status {
      padding: 2px 8px;
      border-radius: 15px;
      text-transform: capitalize;
      border: 2px solid;
      border-color: #459cea;
      color: #459cea;

      &.overdue {
        color: $red;
        border-color: $red;
      }

      &.completed {
        color: $green;
        border-color: $green;
      }
    }

    .actions {
      button {
        background: $lightBlue;
      }
    }
  }

  .card-data {
    background-color: $white;
    padding: 8px 12px;
    width: 100%;

    .group {
      h5 {
        margin: 0;
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
      hr {
        border: 1px solid $darkGray;
      }
    }
  }
}
