.empty-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 125px);
  width: 100vw;

  span {
    @include label(18px);
  }

  @media screen and (max-width: 767px) {
    img {
      height: 70px;
    }
    span {
      font-size: 14px;
    }
  }
}
