.table {
  width: 100vw;
  overflow: auto;
  border-collapse: collapse;

  th {
    background: $lightBlue;
    padding: 8px 12px;
    border-top: 1px solid $skyBlue;
    border-bottom: 1px solid $skyBlue;
    @include label(16px);
  }

  th,
  td {
    color: $black;
    padding: 10px 12px;
    text-align: left;
  }
}
